<html>
    <head></head>
    <body>
        <div class="backgroundImage">
            <mat-grid-list cols="1" rowHeight="8:1">
                <mat-grid-tile><h1 class="titleStyle">Patterns Name</h1></mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="2" rowHeight="1.5:1">
                <mat-grid-tile>
                    <mat-card class="cardStyle">
                        <mat-card-content>
                          <p class="patternTextStyle">
                            Textsagsadfg dsg s asdffagsfdh dsfhdsfhd h hsdfhsdfhfd
                          </p>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class='container'>
                        <mat-card class="patternPhotoStyle">
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        </mat-card>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="1" rowHeight="40:1" class="alignLeft">
                <mat-grid-tile>
                        <button mat-button class="backButtonStyle"><< Back</button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </body>
</html>