.backgroundImage{
    background-image: url("../../../assets/images/main_theme.jpg");
  
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container{
  display: flex;
  justify-content: center;
  align-items: top;
  
  padding-top: 10%;
}

.titleStyle{
  z-index: 1;

  color: rgb(255, 255, 255);
  font-family: "Harrington";
  font-weight: bold;
  font-size: 85px;
  -webkit-text-stroke: 3px black;
}

.patternTextStyle{
    z-index: 1;

    color: rgb(255, 255, 255);
    font-family: "Harrington";
    font-weight: bold;
    font-size: 40px;
    -webkit-text-stroke: 1px black;

    padding: 10px 50px 50px 50px;
}

.backButtonStyle{
  z-index: 1;

  color: rgb(255, 255, 255);
  font-family: "Harrington";
  font-weight: bold;
  font-size: 30px;
  -webkit-text-stroke: 1px black;

  margin-right: 85%;
}

.patternPhotoStyle{
    background-size: cover;
    background-repeat: no-repeat;
    overflow: visible;

    background-color: rgba(0, 0, 0, 0);

    min-width: 400px;
    min-height: 400px;
    max-width: 500px;
    max-height: 500px;

    box-shadow: 0px 0px 0px 0px;
}

.cardButtonsStyle{
  z-index: 1;

  color: rgb(255, 255, 255);
  font-family: "Harrington";
  font-weight: bold;
  font-size: 30px;
  -webkit-text-stroke: 1px black;
}

.cardStyle {
  min-width: 400px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 0px;
}
