<html>
    <head></head>
    <body>
        <div class="backgroundImage">
            <mat-grid-list cols="1" rowHeight="8:1">
                <mat-grid-tile><h1 class="titleStyle"> {{ pattern2render.tittle }} </h1></mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="2" rowHeight="1.5:1">
                <mat-grid-tile>
                    <mat-card class="cardStyle">
                        <mat-card-content>
                          <p class="patternTextStyle">
                              {{ pattern2render.description }}
                          </p>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class='container'>
                        <mat-card class="patternPhotoStyle">
                            <img mat-card-image [src]="pattern2render.imageUrl" [alt]="pattern2render.tittle">
                        </mat-card>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="1" rowHeight="40:1" class="alignLeft">
                <mat-grid-tile>
                        <button mat-button class="backButtonStyle" (click)="goBack()"><< Back</button>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </body>
</html>
