.backgroundIntroImage{
    background-image: url("../assets/images/intro-image.jpg");
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.introText {
    z-index: 1;
    position: absolute;
    color: rgb(226, 226, 226);
    font-family: "Harrington";
    font-size: 110px;
    font-weight: bold;
    left: 19rem;
    top: 40%;
    -webkit-text-stroke: 3px black;
  }