<html>
<head></head>
<body>
  <div class="backgroundMainImage">
      <div class="col-sm">
        <div class="row">
          <h1 class="wolfsbaneGambit">Wolfsbane Gambit</h1>
        </div>
        <div class="bottomPadding">
          <div class="row">
            <button mat-raised-button (click)="goToPuzzles()" color="primary" class="button">Checkmate Puzzle</button>
          </div>
          <div class="row">
            <button mat-raised-button (click)="goToPatterns()" color="primary" class="button">Pattern</button>
          </div>
        </div>
        <div class="logOutPosition">
          <div class="col">
            <a class="logOutText" (click)="goToLoginAfterLogOut()">LogOut</a>
          </div>
        </div><!-- (click)="goToLogin()" -->
      </div>
  </div>
</body>
</html>