.backgroundImage{
  background-image: url("../../../assets/images/main_theme.jpg");

  z-index: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .registerText {
    z-index: 1;
    
    color: rgb(226, 226, 226);
    font-family: "Harrington";
    font-weight: bold;
    font-size: 85px;
    font-weight: bold;
    -webkit-text-stroke: 3px black;

    margin-bottom: 50px;
 }

 .opaque-form-field {
    background-color: #fff;
    border-radius: 2px;
    height: 38px;
    margin-bottom: 25px;
 }

 .opaque-form-field2 {
  background-color: #fff;
  border-radius: 15px;
  height: 30px;
 }

  form{
    min-width: 450px;
    max-width: 500px;
    width: 100%;
  }
  
  mat-form-field{
    width: 100%;
  }

  a:hover {
    color: blue;
  }

  .link-format{
    position: relative;
    left: 180px;
    top: 10px;
   }

  .surface{
    z-index: 1;
  }